table{
    width: 100%;
}
.center{
    display: flex !important;
    flex-direction: column !important;
    padding: 20px !important;
    align-items: center !important;
}
.margin{
    margin-top:10px;
}